html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(212, 227, 228);
    text-decoration-color: rgb(223, 101, 15);
    line-height: 1.5;
}
.frame-boom {
    justify-content: left;
}

hr {
    width: 60%;
}

h1 {
    color: orange;
    font-size: 40px;
}
h2{
    color: orange;
    font-size: 30px;
}

h3 {
    color: orange;
}
footer {
    padding: 20px;
}